.display {
    width: 80vw;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    background-color: #4a4a4a;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh;
}

.password-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    margin: 2vh 0;
}

.break {
    background-color: #ffffff;
    height: 2px;
    width: 74vw;
}

.password {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-size: 40px;
    width: 65vw;
    padding-left: 1vw;
    letter-spacing: 5px;
    margin-right: 3vw;
    color: #90ee90;
    text-align: left;
}

.image {
    overflow: visible;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    border-radius: 100%;
    padding: 1vw;
    width: 3vw;
}

.image:hover {
    background-color: #1e1e1e;
    border-radius: 100%;
}