form {
    color: #90ee90;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

.col {
    margin: 5vh;
}

.row {
    display: flex;
    align-items: center;
    text-align: start;
}

.row label {
    width: 14vw;
}

.row:not(:first-child) {
    margin-top: 5vh;
}

.row input[type=checkbox] {
    cursor: pointer;
    height: 3vh;
    width: 3vw;
}

.pwd-length {
    font-weight: 300;
}

.range-cont {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.range-wrapper {
    width: 80vw;
}

.range {
    cursor: pointer;
    width: inherit;
}