form {
    color: #90ee90;
}

.checkbox-row {
    display: flex;
    align-items: center;
    text-align: start;
    margin: 5vh;
}

.checkbox-row label {
    font-size: 30px;
    width: 14vw;
}

.checkbox-row input[type=checkbox] {
    cursor: pointer;
    height: 3vh;
    width: 3vw;
}

.generate {
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    height: 5vh;
    width: 10vw;
}

.generate:hover {
    background-color: #d1d1d1;
}