.strength-wrapper {
    width: 80vw;
    height: 3vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #4a4a4a;
}

.strength {
    height: inherit;
    border-radius: inherit;
    background-color: #90ee90;
    transition: width 500ms ease-in-out;
}